# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.exp

# Debug files
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

#Settings
.vscode/

# Folders
results/
lib/
build/
images/
include/

# Files
*.txt
*.ncu-rep
main.cpp